/* NAVBAR STYLING */

nav{
  background-color: #25a6ff;
  height: 80px;
}

.nav-menu{
  list-style: none;
  display: flex;
  text-align: center;

}

ul li a{
  text-decoration: none !important; 
}

ul li a:hover{
  text-decoration: none  !important;
}

.nav-menu li{
   margin: 20px ;
   color: white;
   font-family: "Fredoka One", Sans-serif; 
   font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

.nav-menu li:hover{
  background-color: #ff7845;
  cursor: pointer;
  border-style: none;
  border-radius: 4px 4px 4px 4px;
  height: 50px;
  padding: 5px;
  text-decoration: none  !important;
     

}
