/* NAVBAR STYLING */

.span1{
  color: #555555;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}


.nav-menu{
  list-style: none;
  display: flex;
  /* text-align: center; */

}


.nav-menu li{
   margin: 20px ;
   color: rgb(61, 59, 59);
   
   font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}





.welcome{
  height: 90vh;
  width: 100vw;
  background-image: url(https://template79832.motopreview.com/mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-slider-img01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5%;
  padding-bottom: 5%;

}

.for-you{
  font-size: 50px;
  color:#ffff;
  font-weight: bolder;
  text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
  font-family: "Fredoka One", Sans-serif;
}

.for-you2{
  font-size: 30px;
  color: #fff;
  font-family: "Fredoka One", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
}

.impact{
  color: #89CFF0;
  font-size: 15px;
  font-family: "Fredoka One", Sans-serif;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
}

.hr0{
 
  border:  solid 1px  red;
  font-size:40px;
  
}

.hush{
  width: 800px;
}
.hr1{
  width: 150px;
  border:  solid 1px  red;
  font-size:40px;
  
}

.lab{
  background-color: 	#F9F6EE;
}


.welcome2{
  height: 50vh;
  width: 100vw;
  background-image: url(https://template79832.motopreview.com/mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-content-bg04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* padding-top: 5%; */
  /* padding-bottom: 5%; */

}


.for-you4{
  font-size: 50px;
  color:black;
  font-weight: bolder;
  text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
  font-family: "Fredoka One", Sans-serif;
}


span{
  color: #67c1eb;
  font-size: 20px;
  font-family: "Fredoka One", Sans-serif;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);

}

button{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background-color: #ee3d32;
  border-color: #ee3d32;
}


.myfooter{
  background-color: black;
  padding: 50px;
}
.secondhr{
  color: red;
}
li{
  list-style: none;
  margin-top: 5px;
}
li a{
  text-decoration: none;
  color: white;
}
a{
  text-decoration: none;
}
i{
  color: red;
}