{% extends "admin_layout.html"%} {% block content%}
<h1 style="max-width: 100px; margin: 10px auto">Profile</h1>
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4 shadow p-4 mb-5 bg-body rounded">
        <div class="text-center"></div>
        <div class="text-center mt-3">
          <h2 class="mt-2 mb-0">{{current_user.username | capitalize}}</h2>
          <h5 class="text-muted">{{current_user.email}}</h5>

          <div class="px-4 mt-1">
            <p class="fonts">{{current_user.conditions}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
