<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rotary Blood</title>
  <link rel="icon" href="https://img.freepik.com/free-vector/blood-drop-isolated-white_149267-91.jpg?w=2000">

   <!-- bootstrap -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
   integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- CSS  -->
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'landingpage.css')}}">

</head>
<body>


  <section class="section-one">



    <div class="container-fluid  parse">
      <article>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="title-section">


                <div class="container d-flex flex-column justify-content-between">

                  <div class="row">
                    <div class="col mt-3">
                      <img src="https://template79832.motopreview.com/mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-logo.png" alt="kidbazzlogo"> Rotary Blood Group
                    </div>
                    <hr>

                    <div class="col-md-8">

                      <div class="input-group mb-3 mt-5"><input type="text" class="form-control input-text "
                          placeholder="search products ...">
                        <div class="input-group-append"><button class="btn  btn-lg" type="button"
                            name="search"></button>

                        </div>

                      </div>

                    </div>
                    <div class="col mt-5">
                      <a href=""><button class="filter">DONATE</button></a>
                    </div>


                  </div>


                </div>




              </div>
            </div>
          </div>
      </article>

    </div>

    <!-- NAVBAR -->
    <nav>

      <div>
        <ul class="nav-menu">
          <li>DONATE</li>
          <a href="./PAGES/marketplace/market.html">
            <li>Donate</li>
          </a>
          <a href="./PAGES/about/about.html">
            <li>Donate</li>
          </a>
          <a href="./PAGES/contact/contact.html">
            <li>Donate</li>
          </a>
          <a href="./PAGES/login/login.html">
            <li>Donate</li>
          </a>
        </ul>
      </div>

    </nav>


    <!-- MAiN BODYSTARTS -->





      </div>

    </div>

  </section>
  
</body>
</html>