{% extends "admin_layout.html"%}

{% block content%}
<h1>Pending request</h1>
<div class="row row-cols-2 g-4 justify-content-evenly">
   {% for request in requests%}
   <div class="col">
       <div class="card text-center ">
           <div class="card-header">
           Found match
           </div>
           <div class="card-body">
           <h5 class="card-title">{{request.username}}</h5>
           <p class="card-text">{{request.blood_type}}</p>
           <a href="#" class="btn req-btn">send message</a>
           </div>
       </div>
   </div>
   {% endfor %}
  </div>
{% endblock  content%}